Package: qtspot
Version: $VERSION
Architecture: $ARCHITECTURE
Maintainer: Cian Estella / YummierGravy
Section: sound
Priority: optional
Homepage: https://github.com/YummierGravy/qtspot
Package-Type: deb
Depends: libssl3 | libssl1.1
Description: Fast and native Spotify client
