[Desktop Entry]
Type=Application
Name=qtspot
Comment=Fast and native Spotify client
GenericName=Music Player
Icon=qtspot
TryExec=qtspot
Exec=qtspot %U
Terminal=false
MimeType=x-scheme-handler/qtspot;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=qtspot
